/*<--------------------------GENERALIZE HTML----------------------->*/
/*
<section id="head">
       <div class="container">
           <div class="row">
               <div class="col-md-12">
                    
                   
               </div>
           </div>
       </div>
   </section>
*/

/*<-------------------------WOW CSS HTML----------------------->*/

/*   <!--HEADER SHOWCASE-->*/
/*
<!--
   <header id="showcase">
       <div class="showcase-content">
          <h2 class= "wow rotateOut"><span class="text-primary">Accounting</span> the language of business</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id error consectetur mollitia, perspiciatis dolor minima aperiam dolores laudantium repellendus minus.</p>
         <a href="#what" class="btn wow rollIn">Read More</a>
       </div>
   </header>
-->
*/
/*   <!--/HEADER SHOWCASE-->*/


/*DUSRA METHOD ANIMATED KARNE KA BAS UPAR WOW KE JAGAH PE ANIMATED LIKHNA HAI OR JO ANIMATION CHAIYE JAISE fadeInOut etc*/
 
/*    ANIMATION METHODS KE LINK :- https://daneden.github.io/animate.css/*/
   
   




*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 
}

section{
    background: #FFF;
}


/********************************************
                HELPER CLASSES
********************************************/

a,
a:focus,
a:hover {
	text-decoration: none;
}


/*<--------------------------MARGINS----------------------->*/

/*<--------------------------MARGIN TOP----------------------->*/

.m-t-5{
    margin-top: 5px; !important
}
.m-t-10{
    margin-top: 10px; !important
}
.m-t-20{
    margin-top: 20px; !important
}

.m-t-30{
    margin-top: 30px; !important
}

.m-t-40{
    margin-top: 40px; !important
}

.m-t-50{
    margin-top: 50px; !important
}

.m-t-60{
    margin-top: 60px; !important
}
.m-t-70{
    margin-top: 70px; !important
}

.m-t-80{
    margin-top: 80px; !important
}

.m-t-90{
    margin-top: 90px; !important
}

.m-t-100{
    margin-top: 100px; !important
}

.m-t-110{
    margin-top: 110px; !important
}


/*<--------------------------MARGIN BOTTOM----------------------->*/

.m-b-10{
    margin-bottom: 10px; !important
}
.m-b-20{
    margin-bottom: 20px; !important
}

.m-b-30{
    margin-bottom: 30px; !important
}

.m-b-40{
    margin-bottom: 40px; !important
}

.m-b-50{
    margin-bottom: 50px; !important
}

.m-b-60{
    margin-bottom: 60px; !important
}
.m-b-70{
    margin-bottom: 70px; !important
}

.m-b-80{
    margin-bottom: 80px; !important
}

.m-b-90{
    margin-bottom: 90px; !important
}

.m-b-100{
    margin-bottom: 100px; !important
}

.m-b-110{
    margin-bottom: 110px; !important
}


/*<--------------------------MARGIN LEFT----------------------->*/

.m-l-5{
    margin-left: 5px; !important
}

.m-l-10{
    margin-left: 10px; !important
}

.m-l-15{
    margin-left: 15px; !important
}

.m-l-20{
    margin-left: 20px; !important
}

.m-l-25{
    margin-left: 25px; !important
}

.m-l-30{
    margin-left: 30px; !important
}

.m-l-35{
    margin-left: 35px; !important
}

.m-l-40{
    margin-left: 40px; !important
}

.m-l-45{
    margin-left: 45px; !important
}

.m-l-50{
    margin-left: 50px; !important
}

.m-l-55{
    margin-left: 55px; !important
}

.m-l-60{
    margin-left: 60px; !important
}

.m-l-65{
    margin-left: 65px; !important
}

.m-l-70{
    margin-left: 70px; !important
}

.m-l-75{
    margin-left: 75px; !important
}

.m-l-80{
    margin-left: 80px; !important
}

.m-l-85{
    margin-left: 85px; !important
}

.m-l-90{
    margin-left: 90px; !important
}

/*<--------------------------MARGIN RIGHT----------------------->*/

.m-r-5{
    margin-right: 5px;
}

.m-r-10{
    margin-right: 10px;
}

.m-r-15{
    margin-right: 15px;
}

.m-r-20{
    margin-right: 20px;
}

.m-r-25{
    margin-right: 25px;
}

.m-r-30{
    margin-right: 30px;
}

.m-r-35{
    margin-right: 35px;
}

.m-r-40{
    margin-right: 40px;
}

.m-r-45{
    margin-right: 45px;
}

.m-r-50{
    margin-right: 50px;
}
.m-r-55{
    margin-right: 55px;
}

.m-r-60{
    margin-right: 60px;
}

.m-r-65{
    margin-right: 65px;
}

.m-r-70{
    margin-right: 70px;
}

.m-r-75{
    margin-right: 75px;
}

/*<--------------------------PADDINGS----------------------->*/

/*<--------------------------PADDING TOP----------------------->*/

.p-t-5{
    padding-top: 5px; !important
}
.p-t-10{
    padding-top: 10px; !important
}
.p-t-20{
    padding-top: 20px; !important
}
.p-t-30{
    padding-top: 30px; !important
}
.p-t-50{
    padding-top: 50px; !important
}
.p-t-70{
    padding-top: 70px; !important
}
.p-t-90{
    padding-top: 90px; !important
}
.p-t-100{
    padding-top: 100px; !important
}

/*<--------------------------PADDING LEFT----------------------->*/

.p-l-5{
    padding-left: 5px; !important
}
.p-l-10{
    padding-left: 10px; !important
}
.p-l-15{
    padding-left: 15px; !important
}
.p-l-20{
    padding-left: 20px; !important
}
.p-l-25{
    padding-left: 25px; !important
}
.p-l-30{
    padding-left: 30px; !important
}
.p-l-35{
    padding-left: 35px; !important
}
.p-l-40{
    padding-left: 40px; !important
}
.p-l-45{
    padding-left: 45px; !important
}
.p-l-50{
    padding-left: 50px; !important
}
.p-l-55{
    padding-left: 55px; !important
}
.p-l-60{
    padding-left: 60px; !important
}
.p-l-65{
    padding-left: 65px; !important
}
.p-l-70{
    padding-left: 70px; !important
}
.p-l-75{
    padding-left: 75px; !important
}
.p-l-80{
    padding-left: 80px; !important
}
.p-l-85{
    padding-left: 85px; !important
}
.p-l-90{
    padding-left: 90px; !important
}
.p-l-95{
    padding-left: 95px; !important
}
.p-l-100{
    padding-left: 100px; !important
}

/*<--------------------------PADDING RIGHT----------------------->*/

.p-r-5{
    padding-right: 5px; !important
}
.p-r-10{
    padding-right: 10px; !important
}
.p-r-15{
    padding-right: 15px; !important
}
.p-r-20{
    padding-right: 20px; !important
}
.p-r-25{
    padding-right: 25px; !important
}
.p-r-30{
    padding-right: 30px; !important
}
.p-r-35{
    padding-right: 35px; !important
}
.p-r-40{
    padding-right: 40px; !important
}
.p-r-45{
    padding-right: 45px; !important
}
.p-r-50{
    padding-right: 50px; !important
}
.p-r-55{
    padding-right: 55px; !important
}
.p-r-60{
    padding-right: 60px; !important
}
.p-r-65{
    padding-right: 65px; !important
}
.p-r-70{
    padding-right: 70px; !important
}
.p-r-75{
    padding-right: 75px; !important
}
.p-r-80{
    padding-right: 80px; !important
}
.p-r-85{
    padding-right: 85px; !important
}
.p-r-90{
    padding-right: 90px; !important
}
.p-r-95{
    padding-right: 95px; !important
}
.p-r-100{
    padding-right: 100px; !important
}

/*<--------------------------PADDING BOTTOM----------------------->*/

.p-b-5{
    padding-bottom: 5px; !important
}
.p-b-10{
    padding-bottom: 10px; !important
}
.p-b-15{
    padding-bottom: 15px; !important
}
.p-b-20{
    padding-bottom: 20px; !important
}
.p-b-25{
    padding-bottom: 25px; !important
}
.p-b-30{
    padding-bottom: 30px; !important
}
.p-b-35{
    padding-bottom: 35px; !important
}
.p-b-40{
    padding-bottom: 40px; !important
}

/*<--------------------------CONTENT BOXES----------------------->*/

.content-box-lg{
    padding: 400px 0;
}
.content-box-md{
    padding: 200px 0;
}
.content-box-lg{
    padding: 100px 0;
}
.content-box-xs{
    padding: 50px 0;
}




/**********************************SCROLLBARS**************************************/

/*
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 10px;
}
*/

/**********************************TEXT SELECTION**************************************/

/*
::selection{
    background: rgba(255,0,0,0.7);
    color: #FFF;
}
*/

/**********************************NAVBAR**************************************/


/*
#navbar{
    display: flex;
    justify-content: space-between;
    background: #333;
    color: #FFF;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 1rem;
}
#navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a{
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}
#navbar ul li a:hover{
    background: RED;
    border-radius: 5px;
    transition: background .3s;
}
*/



/**********************************COLORS**************************************/
/*
#fafafa grey lighten-5
#bdbdbd grey lighten-1
#9e9e9e grey
#757575 grey darken-1
#616161 grey darken-2
#424242 grey darken-3
#212121 grey darken-4
#ffebee red lighten-5
#ffcdd2 red lighten-4
#ef9a9a red lighten-3
#e57373 red lighten-2
#ef5350 red lighten-1
#f44336 red
#e53935 red darken-1
#d32f2f red darken-2
#c62828 red darken-3
#b71c1c red darken-4
#ff8a80 red accent-1
#ff5252 red accent-2
#ff1744 red accent-3
#d50000 red accent-4
#fce4ec pink lighten-5
#f8bbd0 pink lighten-4
#f48fb1 pink lighten-3
#f06292 pink lighten-2
#ec407a pink lighten-1
#e91e63 pink
#d81b60 pink darken-1
#c2185b pink darken-2
#ad1457 pink darken-3
#880e4f pink darken-4
#ff80ab pink accent-1
#ff4081 pink accent-2
#f50057 pink accent-3
#c51162 pink accent-4
#f3e5f5 purple lighten-5
#e1bee7 purple lighten-4
#ce93d8 purple lighten-3
#ba68c8 purple lighten-2
#ab47bc purple lighten-1
#9c27b0 purple
#8e24aa purple darken-1
#7b1fa2 purple darken-2
#6a1b9a purple darken-3
#4a148c purple darken-4
#ea80fc purple accent-1
#e040fb purple accent-2
#d500f9 purple accent-3
#aa00ff purple accent-4
*/

/**********************************BORDERS**************************************/
/*

body{
    background: #ccc;
}

.box{
    text-align: center;
    position: relative;
    line-height: 100px;
    background: #fff;
    height: 100px;
    width: 300px;
}


.box::after{
    background: linear-gradient(to right, #bcbcbc 25%,#ffcd02 25%, #ffcd02 50%, #eb4f47 50%, #eb4f47 75%, #65c1ac 75%);
    position: absolute;
    content: '';
    height: 4px;
    right: 10px;
    left: 10px;
    top: 0;
}*/

/**********************************SHADOWS**************************************/

/*    box-shadow: 10px 10px 10px -10px #333, -10px -10px 10px -10px red;*/
    
/*    box-shadow: 0 0 0 3px green, 0 0 0 6px red;*/

